.page {
  margin: 2rem;
  height: calc(100svh - 4rem);
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 60rem;
  margin: 2.5rem auto 1rem;
}

.images {
  height: 12rem;
  position: relative;
  background-color: var(--color-dark--1);
  border-radius: inherit;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.images > div {
  position: relative;
}

.profileImage {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  border: 2px solid var(--color-brand--1);
  overflow: hidden;
}

.profileImage > img {
  width: 100%;
  height: 100%;
}

.backgroundImg {
  height: 10rem;
  width: 25rem;
  background-size: cover;
  background-position: center;
  border: 2px solid var(--color-brand--1);
}

.backgroundImg > input[type="file"],
.profileImage > input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.shortInputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
