.profile {
  border-radius: 0.5rem;
  background-color: var(--color-dark--2);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 43%;
  border: none;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  margin-bottom: 2.5rem;
}

.img {
  width: 7rem;
  height: 7rem;
  border: 0.2rem solid var(--color-brand--1);
  border-radius: 50%;
  margin-bottom: 1rem;
}

.details {
  font-size: 1.4rem;
  max-width: 95%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.name {
  font-size: 1.6rem;
}

.username {
  line-height: 0;
}

.actions {
  margin-top: 0.5rem;
}

.actions > a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  border: 0.5px solid;
  border-radius: 0.5rem;
  padding: 0.3rem 0.8rem;
  color: var(--color-light--2);
  cursor: pointer;
  transition: border-color 0.2s;
  text-decoration: none;
}

.actions > a > svg {
  width: 1.3rem;
  fill: var(--color-light--2);
}

.actions > a[data-type="chat"] {
  background-color: #26b0eb15;
  border-color: #26b0eb15;
}

.actions > a[data-type="chat"]:hover {
  border-color: var(--color-brand--1);
}
